flow.json
[
    {
        "id": "mqtt-in",
        "type": "mqtt in",
        "z": "flow1",
        "name": "SmartWater Data",
        "topic": "smartwater/#",
        "qos": "2",
        "datatype": "auto",
        "broker": "mqtt-broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "x": 160,
        "y": 100,
        "wires": [["json-node"]]
    },
    {
        "id": "json-node",
        "type": "json",
        "z": "flow1",
        "name": "Parse JSON",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 360,
        "y": 100,
        "wires": [["zone-switch"]]
    },
    {
        "id": "zone-switch",
        "type": "switch",
        "z": "flow1",
        "name": "Route by Zone",
        "property": "payload.zone",
        "propertyType": "msg",
        "rules": [
            {"t":"eq","v":"zone1","vt":"str"},
            {"t":"eq","v":"zone2","vt":"str"},
            {"t":"eq","v":"zone3","vt":"str"}
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 560,
        "y": 100,
        "wires": [["zone1-flow","zone1-pressure","zone1-ph","zone1-turb","zone1-leak"],
                  ["zone2-flow","zone2-pressure","zone2-ph","zone2-turb","zone2-leak"],
                  ["zone3-flow","zone3-pressure","zone3-ph","zone3-turb","zone3-leak"]]
    },

    {
        "id": "zone1-flow",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone1 Flow",
        "group": "zone1-group",
        "order": 1,
        "title": "Flow (L/s)",
        "label": "L/s",
        "format": "{{payload.flow}}",
        "min": 0,
        "max": "25",
        "x": 850,
        "y": 40,
        "wires": []
    },
    {
        "id": "zone1-pressure",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone1 Pressure",
        "group": "zone1-group",
        "order": 2,
        "title": "Pressure (bar)",
        "label": "bar",
        "format": "{{payload.pressure}}",
        "min": 0,
        "max": "5",
        "x": 860,
        "y": 80,
        "wires": []
    },
    {
        "id": "zone1-ph",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone1 pH",
        "group": "zone1-group",
        "order": 3,
        "title": "pH",
        "label": "pH",
        "format": "{{payload.pH}}",
        "min": 0,
        "max": "14",
        "x": 850,
        "y": 120,
        "wires": []
    },
    {
        "id": "zone1-turb",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Zone1 Turbidity",
        "group": "zone1-group",
        "order": 4,
        "label": "Turbidity (NTU)",
        "chartType": "line",
        "xformat": "auto",
        "interpolate": "linear",
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "x": 860,
        "y": 160,
        "wires": [[]]
    },
    {
        "id": "zone1-leak",
        "type": "switch",
        "z": "flow1",
        "name": "Zone1 Leak Detection",
        "property": "payload.pressure",
        "rules": [{"t": "lt", "v": "1.0", "vt": "num"}],
        "checkall": "true",
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [["zone1-alert"]]
    },
    {
        "id": "zone1-alert",
        "type": "ui_text",
        "z": "flow1",
        "group": "zone1-group",
        "order": 5,
        "label": "ALERT: Leak in Zone 1!",
        "format": "{{payload.pressure}} bar",
        "layout": "row-spread",
        "x": 1130,
        "y": 200,
        "wires": []
    },

    {
        "id": "zone2-flow",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone2 Flow",
        "group": "zone2-group",
        "order": 1,
        "title": "Flow (L/s)",
        "label": "L/s",
        "format": "{{payload.flow}}",
        "min": 0,
        "max": "25",
        "x": 850,
        "y": 280,
        "wires": []
    },
    {
        "id": "zone2-pressure",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone2 Pressure",
        "group": "zone2-group",
        "order": 2,
        "title": "Pressure (bar)",
        "label": "bar",
        "format": "{{payload.pressure}}",
        "min": 0,
        "max": "5",
        "x": 860,
        "y": 320,
        "wires": []
    },
    {
        "id": "zone2-ph",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone2 pH",
        "group": "zone2-group",
        "order": 3,
        "title": "pH",
        "label": "pH",
        "format": "{{payload.pH}}",
        "min": 0,
        "max": "14",
        "x": 850,
        "y": 360,
        "wires": []
    },
    {
        "id": "zone2-turb",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Zone2 Turbidity",
        "group": "zone2-group",
        "order": 4,
        "label": "Turbidity (NTU)",
        "chartType": "line",
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "x": 860,
        "y": 400,
        "wires": [[]]
    },
    {
        "id": "zone2-leak",
        "type": "switch",
        "z": "flow1",
        "name": "Zone2 Leak Detection",
        "property": "payload.pressure",
        "rules": [{"t": "lt", "v": "1.0", "vt": "num"}],
        "checkall": "true",
        "outputs": 1,
        "x": 870,
        "y": 440,
        "wires": [["zone2-alert"]]
    },
    {
        "id": "zone2-alert",
        "type": "ui_text",
        "z": "flow1",
        "group": "zone2-group",
        "order": 5,
        "label": "ALERT: Leak in Zone 2!",
        "format": "{{payload.pressure}} bar",
        "layout": "row-spread",
        "x": 1130,
        "y": 440,
        "wires": []
    },

    {
        "id": "zone3-flow",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone3 Flow",
        "group": "zone3-group",
        "order": 1,
        "title": "Flow (L/s)",
        "label": "L/s",
        "format": "{{payload.flow}}",
        "min": 0,
        "max": "25",
        "x": 850,
        "y": 520,
        "wires": []
    },
    {
        "id": "zone3-pressure",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone3 Pressure",
        "group": "zone3-group",
        "order": 2,
        "title": "Pressure (bar)",
        "label": "bar",
        "format": "{{payload.pressure}}",
        "min": 0,
        "max": "5",
        "x": 860,
        "y": 560,
        "wires": []
    },
    {
        "id": "zone3-ph",
        "type": "ui_gauge",
        "z": "flow1",
        "name": "Zone3 pH",
        "group": "zone3-group",
        "order": 3,
        "title": "pH",
        "label": "pH",
        "format": "{{payload.pH}}",
        "min": 0,
        "max": "14",
        "x": 850,
        "y": 600,
        "wires": []
    },
    {
        "id": "zone3-turb",
        "type": "ui_chart",
        "z": "flow1",
        "name": "Zone3 Turbidity",
        "group": "zone3-group",
        "order": 4,
        "label": "Turbidity (NTU)",
        "chartType": "line",
        "ymin": "0",
        "ymax": "10",
        "removeOlder": "1",
        "removeOlderPoints": "50",
        "removeOlderUnit": "3600",
        "x": 860,
        "y": 640,
        "wires": [[]]
    },
    {
        "id": "zone3-leak",
        "type": "switch",
        "z": "flow1",
        "name": "Zone3 Leak Detection",
        "property": "payload.pressure",
        "rules": [{"t": "lt", "v": "1.0", "vt": "num"}],
        "checkall": "true",
        "outputs": 1,
        "x": 870,
        "y": 680,
        "wires": [["zone3-alert"]]
    },
    {
        "id": "zone3-alert",
        "type": "ui_text",
        "z": "flow1",
        "group": "zone3-group",
        "order": 5,
        "label": "ALERT: Leak in Zone 3!",
        "format": "{{payload.pressure}} bar",
        "layout": "row-spread",
        "x": 1130,
        "y": 680,
        "wires": []
    },

    {
        "id": "mqtt-broker",
        "type": "mqtt-broker",
        "name": "Local Mosquitto",
        "broker": "mosquitto",
        "port": "1883",
        "protocolVersion": "4"
    },
    {
        "id": "dashboard-tab",
        "type": "ui_tab",
        "name": "SmartWater Dashboard",
        "icon": "dashboard"
    },
    {
        "id": "zone1-group",
        "type": "ui_group",
        "name": "Zone 1",
        "tab": "dashboard-tab",
        "order": 1,
        "disp": true,
        "width": "6"
    },
    {
        "id": "zone2-group",
        "type": "ui_group",
        "name": "Zone 2",
        "tab": "dashboard-tab",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "zone3-group",
        "type": "ui_group",
        "name": "Zone 3",
        "tab": "dashboard-tab",
        "order": 3,
        "disp": true,
        "width": "6"
    }
]
